/* flexbox shrink */
.container {
  border: 3px solid black;
  display: flex;
  height: 300px;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  width: 100px;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px; */
  /* grow, shrink, basis  */
  flex: 1 1 100px;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: rgb(255, 0, 0);
}

.box3 {
  background-color: rgb(4, 255, 0);
}

.box4 {
  background-color: rgb(221, 255, 0);
}

.box5 {
  background-color: rgb(255, 132, 0);
}

.box6 {
  background-color: rgb(255, 0, 221);
}
